form{
    width:400px;
}

input,
select{
    width:100%;
    padding:8px;
    margin-top:5px;
}

button{
    padding:8px 18px;
    margin-right:10px;
    margin-top:10px;
}

span{
    color:red;
    font-size:13px;
}

.ng-invalid.ng-touched{
    border:2px solid red;
}

.ng-valid.ng-touched{
    border:2px solid green;
}

h3{
    color:green;
    margin-top:20px;
}
