
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #000000;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #000000;
}

h4 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #000000;
}

p {
  font-size: 1rem;
  color: #444444;
  margin-top: 5px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}